*{
    margin: 0px;
}

header{
    background-color: red;
    height: 50px;
    width: 100vw;
}

nav{
    background-color: #007fff;
    height: 15px;
    width: 100vw;
}

section{
    background-color: pink;
    float: left;
    width: 70%;
    margin-right: 5%;
    height: 40vw;
    
}

aside{
    background-color: #fe80fe;
    float: right;
    width: 25%;
    height: 40vw;
}

footer{
    background-color: greenyellow;
    height: 15px;
    clear: both;
}