.aro{
    background-color: red;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: solid 15px white;
    position: absolute;

}
.aroexterior{
    height: 250px;
    width: 250px;
    background-color: rgb(168, 142, 142);
    top: 75px;
    left: 75px;


}

.aro1{
    height: 200px;
    width: 200px;
    top: 100px;
    left: 100px;
}

.aro2{
    height: 150px;
    width: 150px;
    top: 125px;
    left: 125px;
}

.aro3{
    height: 100px;
    width: 100px;
    top: 150px;
    left: 150px;
}

.aro4{
    height: 50px;
    width: 50px;
    top: 175px;
    left: 175px;
}

.bola{
    height: 1px;
    width: 1px;
    top: 200px;
    left: 200px;
}